# Weeks 7 & 8 Exercises

The four chapters you read these two weeks focus extensively on cleaning and transforming data.

You can choose from either of these two datasets:

So Much Data Candy, Seriously.  (Ng, 2017)
The Metropolitan Museum of Art Open Access CSV.  (Github, 2019 (this data set has multiple years’ worth of data – you can use these files for merging/joining)
You can also download all of the above data from both sites directly from this link: Weeks 7 & 8 Datasets
For this assignment you need to complete 8 of the following exercises against this data.

Note: You must select at least two methods from each chapter to perform on one of the datasets. You are welcome to do more methods and you do not have to use the same dataset for all 8 methods.

You can submit a Jupyter Notebook or a PDF of your code. If you submit a .py file you need to also include a PDF or attachment of your results.

### Chapter 7
- Filter out missing data
- Fill in missing data
- Remove duplicates
- Transform data using either mapping or a function
- Replace values
- Discretization and Binning
- Manipulate Strings
### Chapter 8
- Create hierarchical index
- Combine and Merge Datasets (you will have to either create a new dataset from your existing data or create a - relationship between the data I have provided)
- Reshape
- Pivot the data
### Chapter 10
- Grouping with Dicts/Series
- Grouping with Functions
- Grouping with Index Levels
- Split/Apply/Combine
- Cross Tabs
### Chapter 11
- Convert between string and date time
- Generate date range
- Frequencies and date offsets
- Convert timestamps to periods and back
- Period Frequency conversions

In [286]:
# Used python 3 as runtime environment
#Import the pandas, numpy and matplotlib library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# This is to ignore any worning on outputs.
import warnings
warnings.filterwarnings('ignore')

In [287]:
# reading a Excel file is 'read_excel'.
candy_hierarchy_df=pd.read_excel("./Data_Week_7&8/candyhierarchy2017.xlsx")

In [288]:
# Print head of the dataframe
candy_hierarchy_df.head()

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"

In [289]:
# Print shape 
candy_hierarchy_df.shape

(2460, 120)

In [290]:
# Describe the dataframe
candy_hierarchy_df.describe

<bound method NDFrame.describe of       Internal ID Q1: GOING OUT? Q2: GENDER Q3: AGE Q4: COUNTRY  \
0        90258773            NaN        NaN     NaN         NaN
1        90272821             No       Male      44        USA
2        90272829            NaN       Male      49         USA
3        90272840             No       Male      40          us
4        90272841             No       Male      23         usa
...           ...            ...        ...     ...         ...
2455     90314359             No       Male      24         USA
2456     90314580             No     Female      33         USA
2457     90314634             No     Female      26        USA
2458     90314658             No       Male      58         Usa
2459     90314802             No     Female      66         usa

     Q5: STATE, PROVINCE, COUNTY, ETC Q6 | 100 Grand Bar  \
0                                 NaN                NaN
1                                  NM                MEH
2                            Virginia                NaN
3                                  or                MEH
4                            exton pa                JOY
...                               ...                ...
2455                               MD                JOY
2456                         New York                MEH
2457                        Tennessee                MEH
2458                   North Carolina                NaN
2459                     Pennsylvania            DESPAIR

     Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes)  \
0                                                   NaN
1                                               DESPAIR
2                                                   NaN
3                                               DESPAIR
4                                               DESPAIR
...                                                 ...
2455                                            DESPAIR
2456                                            DESPAIR
2457                                            DESPAIR
2458                                                NaN
2459                                            DESPAIR

     Q6 | Any full-sized candy bar Q6 | Black Jacks  ... Q8: DESPAIR OTHER  \
0                              NaN              NaN  ...               NaN
1                              JOY              MEH  ...               NaN
2                              NaN              NaN  ...               NaN
3                              JOY              MEH  ...               NaN
4                              JOY          DESPAIR  ...               NaN
...                            ...              ...  ...               ...
2455                           MEH          DESPAIR  ...  Fruit Stripe Gum
2456                           JOY              NaN  ...            Capers
2457                           JOY          DESPAIR  ...               NaN
2458                           NaN              NaN  ...               NaN
2459                           JOY          DESPAIR  ...               NaN

                                     Q9: OTHER COMMENTS      Q10: DRESS  \
0                                                   NaN             NaN
1     Bottom line is Twix is really the only candy w...  White and gold
2                                                   NaN             NaN
3                                Raisins can go to hell  White and gold
4                                                   NaN  White and gold
...                                                 ...             ...
2455                                                NaN  White and gold
2456                                                NaN  Blue and black
2457                                                NaN  Blue and black
2458                                                NaN             NaN
2459  You hit all my chocolate highlights, and broug...  White and gold

     Unnamed: 113 Q11: DAY Q12: MEDIA [Daily Dish] Q12: MEDIA [Science]  \
0             NaN      NaN                     NaN                  NaN
1             NaN   Sunday                     NaN                  1.0
2             NaN      NaN                     NaN                  NaN
3             NaN   Sunday                     NaN                  1.0
4             NaN   Friday                     NaN                  1.0
...           ...      ...                     ...                  ...
2455          NaN   Friday                     NaN                  NaN
2456          NaN   Friday                     NaN                  1.0
2457          NaN   Friday                     NaN                  1.0
2458          NaN      NaN                     NaN                  NaN
2459          NaN   Sunday                     1.0                  NaN

     Q12: MEDIA [ESPN] Q12: MEDIA [Yahoo] Click Coordinates (x, y)
0                  NaN                NaN                      NaN
1                  NaN                NaN                 (84, 25)
2                  NaN                NaN                      NaN
3                  NaN                NaN                 (75, 23)
4                  NaN                NaN                 (70, 10)
...                ...                ...                      ...
2455               NaN                NaN                      NaN
2456               NaN                NaN                 (70, 26)
2457               NaN                NaN                 (67, 35)
2458               NaN                NaN                      NaN
2459               NaN                NaN                 (19, 26)

[2460 rows x 120 columns]>

### Chapter 7
- 1) Filter out missing data
- 2) Fill in missing data
- 3) Remove duplicates
- 4) Transform data using either mapping or a function
- 5) Replace values
- 6) Discretization and Binning
- 7) Manipulate Strings

In [291]:
# Remove the first column as it looks like unique id.
try:
    del candy_hierarchy_df['Internal ID']
except KeyError:
    print ("No column found")

In [292]:
# Print shape 
candy_hierarchy_df.shape

(2460, 119)

In [293]:
#Create copy of the data
df_copy = candy_hierarchy_df.copy() 
df_copy.head()

,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,Q6 | Bonkers (the candy),...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,DESPAIR,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,MEH,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"

In [294]:
# Print shape
df_copy.shape

(2460, 119)

In [295]:
# 1) Filter out missing data
#Keep only the rows with at least 2 non-NA values.
df_copy = df_copy.dropna(thresh=90)

In [296]:
# Print head of dataframe
df_copy.shape

(1663, 119)

In [297]:
# Print head of dataframe
df_copy.head()

,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,Q6 | Bonkers (the candy),...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
1,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,DESPAIR,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
3,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,MEH,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"
5,No,Male,NaN,NaN,NaN,JOY,DESPAIR,JOY,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"(75, 23)"
7,No,Male,33,canada,ontario,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,...,when the little kids get the big chocolate bar...,"first person to give out cans of beer, wins",Blue and black,NaN,Friday,NaN,1.0,NaN,NaN,"(55, 5)"

In [298]:
# 2) Check duplicates 
dedubbed_df = df_copy.duplicated()
dedubbed_df.shape

(1663,)

In [299]:
# Print few records 
dedubbed_df.head()

1    False
3    False
4    False
5    False
7    False
dtype: bool

In [300]:
# there are noo duplicates

In [301]:
# 3) Fill in missing data
filled_df = df_copy.fillna(method='bfill')
filled_df.head()

,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,Q6 | Bonkers (the candy),...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
1,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,DESPAIR,...,when the little kids get the big chocolate bar...,Bottom line is Twix is really the only candy w...,White and gold,dress (https://survey.ubc.ca/media/assets/user...,Sunday,1.0,1.0,1.0,1.0,"(84, 25)"
3,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,MEH,...,when the little kids get the big chocolate bar...,Raisins can go to hell,White and gold,dress (https://survey.ubc.ca/media/assets/user...,Sunday,1.0,1.0,1.0,1.0,"(75, 23)"
4,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,MEH,...,when the little kids get the big chocolate bar...,"first person to give out cans of beer, wins",White and gold,dress (https://survey.ubc.ca/media/assets/user...,Friday,1.0,1.0,1.0,1.0,"(70, 10)"
5,No,Male,33,canada,ontario,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,...,when the little kids get the big chocolate bar...,"first person to give out cans of beer, wins",Blue and black,dress (https://survey.ubc.ca/media/assets/user...,Friday,1.0,1.0,1.0,1.0,"(75, 23)"
7,No,Male,33,canada,ontario,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,...,when the little kids get the big chocolate bar...,"first person to give out cans of beer, wins",Blue and black,dress (https://survey.ubc.ca/media/assets/user...,Friday,1.0,1.0,1.0,1.0,"(55, 5)"

In [302]:
# 4) Replace values
# Just pint the column values 
filled_df['Q4: COUNTRY'].head()

1      USA
3        us
4       usa
5    canada
7    canada
Name: Q4: COUNTRY, dtype: object

In [303]:
# 4) Replace values
# used a lambda function to replace the strings
filled_df['Q4: COUNTRY_new'] = filled_df['Q4: COUNTRY'].apply(lambda x: 'USA' if (x =='usa') | (x == 'us') 
                                                             else x)
filled_df['Q4: COUNTRY_new'].head()

1      USA
3       USA
4       USA
5    canada
7    canada
Name: Q4: COUNTRY_new, dtype: object

In [414]:
ff_df = filled_df.copy() ;

### Chapter 8
- Create hierarchical index
- Combine and Merge Datasets (you will have to either create a new dataset from your existing data or create a - relationship between the data I have provided)
- Reshape
- Pivot the data

In [415]:
# 1) Create hierarchical index
# Create Multiindex on Gender and Conutry column
try:
    ff_df = df_copy.copy() ; 
    ff_df.set_index(['Q2: GENDER','Q4: COUNTRY'], inplace=True)
    ff_df.sort_index(inplace=True)
    print(ff_df.head(5))
    print(ff_df.tail(5))
except KeyError:
    print(ff_df.head(5))
    print(ff_df.tail(5))

                       Q1: GOING OUT? Q3: AGE  \
Q2: GENDER Q4: COUNTRY
Female     Australia              Yes      53
           Canada                  No      37
           Canada                  No      44
           Canada                  No      40
           Canada                  No      42

                       Q5: STATE, PROVINCE, COUNTY, ETC Q6 | 100 Grand Bar  \
Q2: GENDER Q4: COUNTRY
Female     Australia                           Victoria                MEH
           Canada                               Ontario                MEH
           Canada                               Alberta                MEH
           Canada                                 yukon                MEH
           Canada                              Alberta                 MEH

                       Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes)  \
Q2: GENDER Q4: COUNTRY
Female     Australia                                                  MEH
           Canada                                                     JOY
           Canada                                                     MEH
           Canada                                                 DESPAIR
           Canada                                                     MEH

                       Q6 | Any full-sized candy bar Q6 | Black Jacks  \
Q2: GENDER Q4: COUNTRY
Female     Australia                             JOY              MEH
           Canada                                JOY              MEH
           Canada                                MEH          DESPAIR
           Canada                                JOY              NaN
           Canada                                JOY              MEH

                       Q6 | Bonkers (the candy) Q6 | Bonkers (the board game)  \
Q2: GENDER Q4: COUNTRY
Female     Australia                        MEH                           MEH
           Canada                           JOY                       DESPAIR
           Canada                       DESPAIR                           MEH
           Canada                           NaN                           NaN
           Canada                           MEH                       DESPAIR

                       Q6 | Bottle Caps  ...  \
Q2: GENDER Q4: COUNTRY                   ...
Female     Australia                NaN  ...
           Canada                   MEH  ...
           Canada                   JOY  ...
           Canada                   JOY  ...
           Canada                   MEH  ...

                                                        Q8: DESPAIR OTHER  \
Q2: GENDER Q4: COUNTRY
Female     Australia    Cheap candies, US chocolate (sorry - yours is ...
           Canada                                                 Coupons
           Canada                                                     NaN
           Canada                                                  Poison
           Canada                                                     NaN

                       Q9: OTHER COMMENTS      Q10: DRESS Unnamed: 113  \
Q2: GENDER Q4: COUNTRY
Female     Australia                  NaN  Blue and black          NaN
           Canada                     NaN  Blue and black          NaN
           Canada                     NaN  White and gold          NaN
           Canada                     NaN  Blue and black          NaN
           Canada                     NaN  White and gold          NaN

                       Q11: DAY Q12: MEDIA [Daily Dish] Q12: MEDIA [Science]  \
Q2: GENDER Q4: COUNTRY
Female     Australia     Sunday                     NaN                  1.0
           Canada        Sunday                     NaN                  1.0
           Canada        Sunday                     NaN                  1.0
           Canada        Sunday                     NaN                  1.0
           Canada        Friday                     1.0                  NaN

                       Q12: MEDIA [ESPN] Q12: MEDIA [Yahoo]  \
Q2: GENDER Q4: COUNTRY
Female     Australia                 NaN                NaN
           Canada                    NaN                NaN
           Canada                    NaN                NaN
           Canada                    NaN                NaN
           Canada                    NaN                NaN

                       Click Coordinates (x, y)
Q2: GENDER Q4: COUNTRY
Female     Australia                    (69, 7)
           Canada                      (75, 25)
           Canada                      (82, 32)
           Canada                      (80, 39)
           Canada                      (29, 30)

[5 rows x 117 columns]
                       Q1: GOING OUT? Q3: AGE  \
Q2: GENDER Q4: COUNTRY
NaN        Usa                     No      70
           NaN                     No     NaN
           NaN                    NaN     NaN
           NaN                    NaN     NaN
           NaN                    NaN     NaN

                       Q5: STATE, PROVINCE, COUNTY, ETC Q6 | 100 Grand Bar  \
Q2: GENDER Q4: COUNTRY
NaN        Usa                           North carolina                MEH
           NaN                                      NaN                NaN
           NaN                                      NaN                MEH
           NaN                                 Illinois                JOY
           NaN                                      NaN                MEH

                       Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes)  \
Q2: GENDER Q4: COUNTRY
NaN        Usa                                                    DESPAIR
           NaN                                                    DESPAIR
           NaN                                                    DESPAIR
           NaN                                                        NaN
           NaN                                                    DESPAIR

                       Q6 | Any full-sized candy bar Q6 | Black Jacks  \
Q2: GENDER Q4: COUNTRY
NaN        Usa                                   JOY              MEH
           NaN                                   MEH              MEH
           NaN                                   JOY          DESPAIR
           NaN                                   JOY          DESPAIR
           NaN                                   JOY              NaN

                       Q6 | Bonkers (the candy) Q6 | Bonkers (the board game)  \
Q2: GENDER Q4: COUNTRY
NaN        Usa                              MEH                           MEH
           NaN                              NaN                           NaN
           NaN                              MEH                           MEH
           NaN                              NaN                           NaN
           NaN                              NaN                           NaN

                       Q6 | Bottle Caps  ...  \
Q2: GENDER Q4: COUNTRY                   ...
NaN        Usa                      MEH  ...
           NaN                      NaN  ...
           NaN                      MEH  ...
           NaN                  DESPAIR  ...
           NaN                      JOY  ...

                                                        Q8: DESPAIR OTHER  \
Q2: GENDER Q4: COUNTRY
NaN        Usa                                                        NaN
           NaN          cadbury creme eggs should only be for easter. ...
           NaN                                                        NaN
           NaN                                                        NaN
           NaN                                                        NaN

                        Q9: OTHER COMMENTS      Q10: DRESS Unnamed: 113  \
Q2: GENDER Q4: COUNTRY
NaN        Usa                         NaN  White and gold          NaN
           NaN          no rockets listed?  Blue and black          NaN
           NaN                         NaN             NaN          NaN
           NaN                         NaN  Blue and black          NaN
           NaN                         NaN  Blue and black          NaN

                       Q11: DAY Q12: MEDIA [Daily Dish] Q12: MEDIA [Science]  \
Q2: GENDER Q4: COUNTRY
NaN        Usa           Sunday                     1.0                  NaN
           NaN           Friday                     NaN                  1.0
           NaN              NaN                     NaN                  NaN
           NaN           Sunday                     NaN                  1.0
           NaN           Friday                     1.0                  NaN

                       Q12: MEDIA [ESPN] Q12: MEDIA [Yahoo]  \
Q2: GENDER Q4: COUNTRY
NaN        Usa                       NaN                NaN
           NaN                       NaN                NaN
           NaN                       NaN                NaN
           NaN                       NaN                NaN
           NaN                       NaN                NaN

                       Click Coordinates (x, y)
Q2: GENDER Q4: COUNTRY
NaN        Usa                          (30, 5)
           NaN                         (76, 19)
           NaN                              NaN
           NaN                         (75, 20)
           NaN                          (29, 7)

[5 rows x 117 columns]

In [418]:
#2) Pivot the data
pivot_df = df_copy.copy() ;
table = pd.pivot_table(pivot_df , values='Q3: AGE', index=['Q2: GENDER' , 'Q1: GOING OUT?'],
                    columns=['Q4: COUNTRY'], aggfunc=np.sum)

In [419]:
table

Q4: COUNTRY                               'merica    A  Ahem....Amerca  \
Q2: GENDER         Q1: GOING OUT?
Female             No             Q3: AGE     NaN  NaN             NaN
                   Yes            Q3: AGE     NaN  NaN             NaN
I'd rather not say No             Q3: AGE     NaN  102  See question 2
                   Yes            Q3: AGE     NaN  NaN             NaN
Male               No             Q3: AGE     NaN  NaN             NaN
                   Yes            Q3: AGE       9  NaN             NaN
Other              No             Q3: AGE     NaN  NaN             NaN
                   Yes            Q3: AGE     NaN  NaN             NaN

Q4: COUNTRY                               America Atlantis Australia CANADA  \
Q2: GENDER         Q1: GOING OUT?
Female             No             Q3: AGE     NaN      NaN       NaN    NaN
                   Yes            Q3: AGE     NaN      NaN        53    NaN
I'd rather not say No             Q3: AGE     NaN      NaN       NaN    NaN
                   Yes            Q3: AGE     NaN     1000       NaN    NaN
Male               No             Q3: AGE     NaN      NaN       NaN     43
                   Yes            Q3: AGE      90      NaN       NaN      7
Other              No             Q3: AGE     NaN      NaN       NaN    NaN
                   Yes            Q3: AGE     NaN      NaN       NaN    NaN

Q4: COUNTRY                               California  Can Canada  ... spain  \
Q2: GENDER         Q1: GOING OUT?                                 ...
Female             No             Q3: AGE        NaN  NaN   1644  ...   NaN
                   Yes            Q3: AGE        NaN  NaN    174  ...   NaN
I'd rather not say No             Q3: AGE        NaN  NaN    140  ...   NaN
                   Yes            Q3: AGE        NaN  NaN    NaN  ...   NaN
Male               No             Q3: AGE         52   42    NaN  ...    41
                   Yes            Q3: AGE        NaN  NaN    317  ...   NaN
Other              No             Q3: AGE        NaN  NaN    362  ...   NaN
                   Yes            Q3: AGE        NaN  NaN    NaN  ...   NaN

Q4: COUNTRY                               subscribe to dm4uz3 on youtube  \
Q2: GENDER         Q1: GOING OUT?
Female             No             Q3: AGE                            NaN
                   Yes            Q3: AGE                            NaN
I'd rather not say No             Q3: AGE                            NaN
                   Yes            Q3: AGE                            NaN
Male               No             Q3: AGE                            NaN
                   Yes            Q3: AGE                   MY NAME JEFF
Other              No             Q3: AGE                            NaN
                   Yes            Q3: AGE                            NaN

Q4: COUNTRY                               u s a u.s. u.s.a. united States   \
Q2: GENDER         Q1: GOING OUT?
Female             No             Q3: AGE   NaN   51    NaN            NaN
                   Yes            Q3: AGE   NaN  NaN    NaN            NaN
I'd rather not say No             Q3: AGE   NaN  NaN    NaN            NaN
                   Yes            Q3: AGE   NaN  NaN    NaN            NaN
Male               No             Q3: AGE    35   60     46            NaN
                   Yes            Q3: AGE   NaN  NaN    NaN             32
Other              No             Q3: AGE   NaN  NaN    NaN            NaN
                   Yes            Q3: AGE   NaN  NaN    NaN            NaN

Q4: COUNTRY                               united states  \
Q2: GENDER         Q1: GOING OUT?
Female             No             Q3: AGE           372
                   Yes            Q3: AGE           NaN
I'd rather not say No             Q3: AGE           NaN
                   Yes            Q3: AGE           NaN
Male               No             Q3: AGE           748
                   Yes            Q3: AGE            35
Other              No             Q3: AGE            43
                   Yes            Q3: AGE           NaN

Q4: COUNTRY                               united states of america   us   usa
Q2: GENDER         Q1: GOING OUT?
Female             No             Q3: AGE                       91  378  1206
                   Yes            Q3: AGE                      NaN  NaN   292
I'd rather not say No             Q3: AGE                      NaN   45   143
                   Yes            Q3: AGE                      NaN  NaN   NaN
Male               No             Q3: AGE                       81  512   NaN
                   Yes            Q3: AGE                      NaN   11   785
Other              No             Q3: AGE                      NaN  NaN   NaN
                   Yes            Q3: AGE                      NaN  NaN   NaN

[8 rows x 88 columns]

### Chapter 10
- Grouping with Dicts/Series
- Grouping with Functions
- Grouping with Index Levels
- Split/Apply/Combine
- Cross Tabs

In [315]:
# reading a Excel file is 'read_excel'.
sheet2_df=pd.read_excel("./Data_Week_7&8/BOING-BOING-CANDY-HIERARCHY-2016-SURVEY-Responses.xlsx")
sheet2_df_copy = sheet2_df.copy()

In [316]:
# Print few rows of dataframe
sheet2_df_copy.head()

,Timestamp,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],...,Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [Beyoncé],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).",[York Peppermint Patties] Ignore
0,2016-10-24 05:09:23.033,No,Male,22,Canada,Ontario,JOY,DESPAIR,JOY,MEH,...,3 or higher,2,3 or higher,3 or higher,3 or higher,3 or higher,Friday,South to North,Science: Latest News and Headlines,NaN
1,2016-10-24 05:09:54.798,No,Male,45,usa,il,MEH,MEH,JOY,JOY,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN
2,2016-10-24 05:13:06.734,No,Female,48,US,Colorado,JOY,DESPAIR,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
3,2016-10-24 05:14:17.192,No,Male,57,usa,il,JOY,MEH,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,South to North,Science: Latest News and Headlines,NaN
4,2016-10-24 05:14:24.625,Yes,Male,42,USA,South Dakota,MEH,DESPAIR,JOY,DESPAIR,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,ESPN,NaN

In [317]:
# Find the unique values pf gender column
sheet2_df_copy['Your gender:'].unique()

array(['Male', 'Female', 'Other', "I'd rather not say", nan], dtype=object)

In [343]:
# user of query function 
# For better results taking only USA data
newdf = sheet2_df_copy[sheet2_df_copy['Which country do you live in?'] == 'USA']
newdf

,Timestamp,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],...,Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [Beyoncé],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).",[York Peppermint Patties] Ignore
4,2016-10-24 05:14:24.625,Yes,Male,42,USA,South Dakota,MEH,DESPAIR,JOY,DESPAIR,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,ESPN,NaN
5,2016-10-24 05:16:43.126,No,Male,41,USA,Georgia,JOY,DESPAIR,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
8,2016-10-24 05:17:49.292,Yes,Male,44,USA,PA,MEH,DESPAIR,JOY,DESPAIR,...,3 or higher,3 or higher,2,3 or higher,2,2,Friday,East to West,ESPN,NaN
11,2016-10-24 05:21:19.858,No,Female,46,USA,the Mitten,MEH,DESPAIR,MEH,DESPAIR,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,I always slice them because the core annoys me,Science: Latest News and Headlines,NaN
16,2016-10-24 05:24:11.446,No,Female,33,USA,WA,JOY,DESPAIR,MEH,NaN,...,3 or higher,3 or higher,3 or higher,2,1,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1242,2016-10-28 14:37:24.766,No,Male,46,USA,IL,JOY,MEH,JOY,JOY,...,3 or higher,3 or higher,3 or higher,3 or higher,2,3 or higher,Friday,South to North,Science: Latest News and Headlines,NaN
1250,2016-10-29 10:53:26.543,No,Male,35,USA,Massachusetts,JOY,DESPAIR,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN
1252,2016-10-29 12:02:52.773,Yes,Female,56,USA,NH,JOY,MEH,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,1,3 or higher,Friday,East to West,ESPN,NaN
1253,2016-10-29 14:47:43.907,No,Male,54,USA,wisconisin,MEH,MEH,NaN,DESPAIR,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,"Actually, that's me.",Friday,Pureed,Science: Latest News and Headlines,NaN
1254,2016-10-29 16:53:52.516,No,Female,52,USA,TX,JOY,DESPAIR,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,2,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN

In [370]:
# Filter the rows only have numbers 
filtered_df = newdf[newdf['How old are you?'].str.match('^\d+$',na=True)]
filtered_df

,Timestamp,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],...,Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [Beyoncé],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).",[York Peppermint Patties] Ignore
4,2016-10-24 05:14:24.625,Yes,Male,42,USA,South Dakota,MEH,DESPAIR,JOY,DESPAIR,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,ESPN,NaN
5,2016-10-24 05:16:43.126,No,Male,41,USA,Georgia,JOY,DESPAIR,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
8,2016-10-24 05:17:49.292,Yes,Male,44,USA,PA,MEH,DESPAIR,JOY,DESPAIR,...,3 or higher,3 or higher,2,3 or higher,2,2,Friday,East to West,ESPN,NaN
11,2016-10-24 05:21:19.858,No,Female,46,USA,the Mitten,MEH,DESPAIR,MEH,DESPAIR,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,I always slice them because the core annoys me,Science: Latest News and Headlines,NaN
16,2016-10-24 05:24:11.446,No,Female,33,USA,WA,JOY,DESPAIR,MEH,NaN,...,3 or higher,3 or higher,3 or higher,2,1,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1242,2016-10-28 14:37:24.766,No,Male,46,USA,IL,JOY,MEH,JOY,JOY,...,3 or higher,3 or higher,3 or higher,3 or higher,2,3 or higher,Friday,South to North,Science: Latest News and Headlines,NaN
1250,2016-10-29 10:53:26.543,No,Male,35,USA,Massachusetts,JOY,DESPAIR,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN
1252,2016-10-29 12:02:52.773,Yes,Female,56,USA,NH,JOY,MEH,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,1,3 or higher,Friday,East to West,ESPN,NaN
1253,2016-10-29 14:47:43.907,No,Male,54,USA,wisconisin,MEH,MEH,NaN,DESPAIR,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,"Actually, that's me.",Friday,Pureed,Science: Latest News and Headlines,NaN
1254,2016-10-29 16:53:52.516,No,Female,52,USA,TX,JOY,DESPAIR,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,2,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN

In [373]:
# Grouping with Functions
agg_newdf = filtered_df.copy()
grouped = agg_newdf.groupby(['Your gender:'])
# grouped = agg_newdf.groupby(['Which country do you live in?','Which state, province, county do you live in?'] )

In [376]:
# Group by 
grouped_pct = grouped['How old are you?']
print(grouped_pct)

<pandas.core.groupby.generic.SeriesGroupBy object at 0x7fb6412342b0>

In [379]:
grouped_pct.agg(['min', 'max'])

                    min  max
Your gender:
Female               10   81
I'd rather not say   15   33
Male                 17   79
Other                17   44

In [312]:
newdf.shape

(433, 123)

In [314]:
# Grouping with Index Levels
newdf = newdf[['Are you going actually going trick or treating yourself?',
                            'Your gender:','How old are you?']]
newdf.set_index(['Are you going actually going trick or treating yourself?',
                          'Your gender:','How old are you?'], inplace=True)
newdf.sort_index(inplace=True)
newdf

Empty DataFrame
Columns: []
Index: [(No, Female, 19), (No, Female, 19), (No, Female, 20), (No, Female, 23), (No, Female, 24), (No, Female, 25), (No, Female, 25), (No, Female, 25), (No, Female, 26), (No, Female, 26), (No, Female, 26), (No, Female, 26), (No, Female, 26), (No, Female, 26), (No, Female, 27), (No, Female, 27), (No, Female, 27), (No, Female, 28), (No, Female, 28), (No, Female, 28), (No, Female, 28), (No, Female, 28), (No, Female, 28), (No, Female, 29), (No, Female, 29), (No, Female, 29), (No, Female, 29), (No, Female, 30), (No, Female, 30), (No, Female, 31), (No, Female, 31), (No, Female, 31), (No, Female, 31), (No, Female, 31), (No, Female, 32), (No, Female, 32), (No, Female, 32), (No, Female, 32), (No, Female, 32), (No, Female, 32), (No, Female, 33), (No, Female, 33), (No, Female, 33), (No, Female, 33), (No, Female, 33), (No, Female, 33), (No, Female, 34), (No, Female, 34), (No, Female, 34), (No, Female, 34), (No, Female, 34), (No, Female, 34), (No, Female, 35), (No, Female, 35), (No, Female, 35), (No, Female, 35), (No, Female, 35), (No, Female, 35), (No, Female, 36), (No, Female, 36), (No, Female, 36), (No, Female, 36), (No, Female, 36), (No, Female, 37), (No, Female, 37), (No, Female, 37), (No, Female, 37), (No, Female, 37), (No, Female, 37), (No, Female, 38), (No, Female, 38), (No, Female, 38), (No, Female, 39), (No, Female, 39), (No, Female, 39), (No, Female, 40), (No, Female, 41), (No, Female, 41), (No, Female, 42), (No, Female, 42), (No, Female, 43), (No, Female, 43), (No, Female, 44), (No, Female, 44), (No, Female, 45), (No, Female, 45), (No, Female, 45), (No, Female, 46), (No, Female, 46), (No, Female, 46), (No, Female, 46), (No, Female, 47), (No, Female, 47), (No, Female, 47), (No, Female, 48), (No, Female, 49), (No, Female, 49), (No, Female, 49), (No, Female, 50), (No, Female, 50), ...]

[433 rows x 0 columns]


### Chapter 11
- Convert between string and date time
- Generate date range
- Frequencies and date offsets
- Convert timestamps to periods and back
- Period Frequency conversions

In [407]:
convertodate_df = newdf.copy()
convertodate_df.head()

,Timestamp,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],...,Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [Beyoncé],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).",[York Peppermint Patties] Ignore
4,2016-10-24 05:14:24.625,Yes,Male,42,USA,South Dakota,MEH,DESPAIR,JOY,DESPAIR,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,ESPN,NaN
5,2016-10-24 05:16:43.126,No,Male,41,USA,Georgia,JOY,DESPAIR,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
8,2016-10-24 05:17:49.292,Yes,Male,44,USA,PA,MEH,DESPAIR,JOY,DESPAIR,...,3 or higher,3 or higher,2,3 or higher,2,2,Friday,East to West,ESPN,NaN
11,2016-10-24 05:21:19.858,No,Female,46,USA,the Mitten,MEH,DESPAIR,MEH,DESPAIR,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,I always slice them because the core annoys me,Science: Latest News and Headlines,NaN
16,2016-10-24 05:24:11.446,No,Female,33,USA,WA,JOY,DESPAIR,MEH,NaN,...,3 or higher,3 or higher,3 or higher,2,1,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN

In [408]:
# Check the datatype
type(convertodate_df['Timestamp'])

pandas.core.series.Series

In [409]:
# 1) Convert between string and date time
idx = pd.to_datetime(convertodate_df['Timestamp'])
convertodate_df.insert(1,'new_date',idx)

In [410]:
convertodate_df

,Timestamp,new_date,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],...,Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [Beyoncé],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).",[York Peppermint Patties] Ignore
4,2016-10-24 05:14:24.625,2016-10-24 05:14:24.625,Yes,Male,42,USA,South Dakota,MEH,DESPAIR,JOY,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,ESPN,NaN
5,2016-10-24 05:16:43.126,2016-10-24 05:16:43.126,No,Male,41,USA,Georgia,JOY,DESPAIR,JOY,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
8,2016-10-24 05:17:49.292,2016-10-24 05:17:49.292,Yes,Male,44,USA,PA,MEH,DESPAIR,JOY,...,3 or higher,3 or higher,2,3 or higher,2,2,Friday,East to West,ESPN,NaN
11,2016-10-24 05:21:19.858,2016-10-24 05:21:19.858,No,Female,46,USA,the Mitten,MEH,DESPAIR,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,I always slice them because the core annoys me,Science: Latest News and Headlines,NaN
16,2016-10-24 05:24:11.446,2016-10-24 05:24:11.446,No,Female,33,USA,WA,JOY,DESPAIR,MEH,...,3 or higher,3 or higher,3 or higher,2,1,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1242,2016-10-28 14:37:24.766,2016-10-28 14:37:24.766,No,Male,46,USA,IL,JOY,MEH,JOY,...,3 or higher,3 or higher,3 or higher,3 or higher,2,3 or higher,Friday,South to North,Science: Latest News and Headlines,NaN
1250,2016-10-29 10:53:26.543,2016-10-29 10:53:26.543,No,Male,35,USA,Massachusetts,JOY,DESPAIR,JOY,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN
1252,2016-10-29 12:02:52.773,2016-10-29 12:02:52.773,Yes,Female,56,USA,NH,JOY,MEH,JOY,...,3 or higher,3 or higher,3 or higher,3 or higher,1,3 or higher,Friday,East to West,ESPN,NaN
1253,2016-10-29 14:47:43.907,2016-10-29 14:47:43.907,No,Male,54,USA,wisconisin,MEH,MEH,NaN,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,"Actually, that's me.",Friday,Pureed,Science: Latest News and Headlines,NaN
1254,2016-10-29 16:53:52.516,2016-10-29 16:53:52.516,No,Female,52,USA,TX,JOY,DESPAIR,JOY,...,3 or higher,3 or higher,3 or higher,3 or higher,2,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN

In [411]:
# 2) Generate date range
# 3) Convert timestamps to periods and back
date_range = pd.date_range(start='2020-01-01', periods = 433, freq ='BM')
convertodate_df.insert(2,'Date_range',date_range)

In [412]:
convertodate_df

,Timestamp,new_date,Date_range,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],...,Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [Beyoncé],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).",[York Peppermint Patties] Ignore
4,2016-10-24 05:14:24.625,2016-10-24 05:14:24.625,2020-01-31,Yes,Male,42,USA,South Dakota,MEH,DESPAIR,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,ESPN,NaN
5,2016-10-24 05:16:43.126,2016-10-24 05:16:43.126,2020-02-28,No,Male,41,USA,Georgia,JOY,DESPAIR,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
8,2016-10-24 05:17:49.292,2016-10-24 05:17:49.292,2020-03-31,Yes,Male,44,USA,PA,MEH,DESPAIR,...,3 or higher,3 or higher,2,3 or higher,2,2,Friday,East to West,ESPN,NaN
11,2016-10-24 05:21:19.858,2016-10-24 05:21:19.858,2020-04-30,No,Female,46,USA,the Mitten,MEH,DESPAIR,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,I always slice them because the core annoys me,Science: Latest News and Headlines,NaN
16,2016-10-24 05:24:11.446,2016-10-24 05:24:11.446,2020-05-29,No,Female,33,USA,WA,JOY,DESPAIR,...,3 or higher,3 or higher,3 or higher,2,1,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1242,2016-10-28 14:37:24.766,2016-10-28 14:37:24.766,2055-09-30,No,Male,46,USA,IL,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,2,3 or higher,Friday,South to North,Science: Latest News and Headlines,NaN
1250,2016-10-29 10:53:26.543,2016-10-29 10:53:26.543,2055-10-29,No,Male,35,USA,Massachusetts,JOY,DESPAIR,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN
1252,2016-10-29 12:02:52.773,2016-10-29 12:02:52.773,2055-11-30,Yes,Female,56,USA,NH,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,1,3 or higher,Friday,East to West,ESPN,NaN
1253,2016-10-29 14:47:43.907,2016-10-29 14:47:43.907,2055-12-31,No,Male,54,USA,wisconisin,MEH,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,"Actually, that's me.",Friday,Pureed,Science: Latest News and Headlines,NaN
1254,2016-10-29 16:53:52.516,2016-10-29 16:53:52.516,2056-01-31,No,Female,52,USA,TX,JOY,DESPAIR,...,3 or higher,3 or higher,3 or higher,3 or higher,2,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN