In [10]:
import pandas as pd

#df_city_population = pd.read_csv('./CityPolpulation.csv')
# reading a CSV file is 'read_csv'.
#df=pd.read_csv("./CityPopulation.csv")
city = pd.Series(["New York City","Los Angeles","Chicago","Houston","Phoenix","Philadelphia","San Antonio","San Diego"])
population = pd.Series([8622357,4085014,2670406,2378146,1743469,1590402,1579504,1469490])
df = pd.DataFrame({"City": city,"Polpulation" : population})
df.head()

            City  Polpulation
0  New York City      8622357
1    Los Angeles      4085014
2        Chicago      2670406
3        Houston      2378146
4        Phoenix      1743469

In [16]:
df.iloc(0)

ValueError: No axis named City for object type <class 'pandas.core.frame.DataFrame'>