# Milestone 2

### Perform at least 5 data transformation and/or cleansing steps to your flat file data. For example:

#### 1) Replace Headers
#### 2) Format data into a more readable format
#### 3) Identify outliers and bad data
#### 4) Find duplicates
#### 5) Fix casing or inconsistent values
#### 6) Conduct Fuzzy Matching

In [47]:
# import the required libraries
import pandas as pd
import matplotlib as plt 
import numpy as np

In [17]:
# Load the CSV file
usa_covide_df = pd.read_csv ('./data/United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv')

In [29]:
#Print the first few rows
usa_covide_df.head()

print ("Shape of Datafram After droping NaN rows:: ",usa_covide_df.shape)

Shape of Datafram After droping NaN rows::  (21300, 15)

### Replace Headers

In [30]:
usa_covide_df_with_updated_headers = usa_covide_df.rename(columns=
{'submission_date': 'submission_date','state': 'state','tot_cases': 'total_cases','conf_cases': 'confirmed_cases',
'prob_cases': 'probable_cases','new_case': 'new_case','probable_new_case': 'pnew_case','tot_death': 'total_death',
'conf_death': 'confirmed_death','prob_death': 'probable_death','new_death': 'new_death',
'pnew_death': 'probable_new_death','created_at': 'created_at','consent_cases': 'consent_cases',
'consent_deaths': 'consent_deaths'
})
usa_covide_df_with_updated_headers.head()

,submission_date,state,total_cases,confirmed_cases,probable_cases,new_case,pnew_case,total_death,confirmed_death,probable_death,new_death,probable_new_death,created_at,consent_cases,consent_deaths
0,05/04/2020,KY,5245,5245.0,0.0,115,0.0,261,261.0,0.0,8,0.0,05/05/2020 05:25:08 PM,Agree,Agree
1,12/08/2020,OK,205999,171497.0,34502.0,0,0.0,1752,1680.0,72.0,0,0.0,12/09/2020 02:45:40 PM,Agree,Agree
2,08/21/2020,MD,103523,NaN,NaN,624,0.0,3685,3546.0,139.0,11,1.0,08/22/2020 02:21:09 PM,NaN,Agree
3,03/05/2020,GA,2,NaN,NaN,-5,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Agree
4,02/08/2020,WA,1,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,NaN,NaN

In [31]:
print ("Shape of Datafram before droping NaN rows:: ",usa_covide_df_with_updated_headers.shape)

Shape of Datafram before droping NaN rows::  (21300, 15)

#### 2) Format data into a more readable format

In [32]:
# After observation the data looks neet and redable as well as easy to read. 
#All values are in numbers formate

#### 3) Identify outliers and bad data

In [33]:
# As part of this data there are lot of NaN data in lots of rows. The data has NaN we will remove all
# thoses rows. 
usa_covide_df_with_updated_headers = usa_covide_df_with_updated_headers.dropna(axis=0)

In [36]:
print ("Shape of Datafram After droping NaN rows:: ",usa_covide_df_with_updated_headers.shape)

Shape of Datafram After droping NaN rows::  (7817, 15)

In [37]:
# We dont find have outliners as each values has meaning and we can remove the outlineres. 
# It is timeseris formate data.

#### 4) Find duplicates

In [38]:
# From the below results there are not duplicate records.
usa_covide_df_with_updated_headers.duplicated()

0        False
1        False
9        False
11       False
14       False
         ...
21267    False
21271    False
21278    False
21285    False
21295    False
Length: 7817, dtype: bool

#### 5) Create pivot table for each state and sum of new_cases and new_dates

In [49]:
df_sample = usa_covide_df_with_updated_headers
df_sample.pivot_table(values=['new_death' , 'new_case'] , 
                     index = ['state'], aggfunc =np.sum )

       new_case  new_death
state
AL       397177       5221
AZ       613827       9964
CO       352017       4813
CT       189573       5341
DE        62735        905
FSM           1          0
GA       739134      10697
ID       148181       1495
IL       999590      18034
KY       300828       2751
MA       386853      11523
ME        28764        406
MI       531836      11838
MP          111          2
MS       236335       5034
MT        85898       1046
NC       623188       7567
NJ        68489       2616
NYC      384193      18996
OH       769785       9303
OK       338177       2650
OR       123839       1533
PR        82350       1582
RMI           4          0
SC       350217       5688
TN       647106       7640
UT       302945       1363
VA       395935       5158
WI       546061       5359
WY        46338        488