In [19]:
import pandas as pd

df = pd.read_html("https://www.nytimes.com/interactive/2020/us/coronavirus-us-cases.html")
len(df)

8

In [20]:
for t in df:
    print(t.shape)

(3, 4)
(10, 10)
(10, 6)
(10, 3)
(10, 3)
(10, 3)
(5, 3)
(5, 3)

In [21]:
df15 = df[1]
print(df15)

,Unnamed: 0,Totalcases,"Per 100,000",Totaldeaths,"Per 100,000.1",Daily avg.in last7 days,"Per 100,000.2",Daily avg.in last7 days.1,"Per 100,000.3",Weekly cases per capita Fewer \tMore
0,+ Arizona MAP »,556384,7644,9061,124,8842.1,121.5,90.6,1.2,March 1 Jan. 3
1,+ California MAP »,2433838,6160,26635,67,38086.4,96.4,336.0,0.9,NaN
2,+ Tennessee MAP »,593363,8689,6962,102,6294.9,92.2,73.0,1.1,NaN
3,+ Oklahoma MAP »,304072,7684,2547,64,3561.9,90.0,25.3,0.6,NaN
4,+ Arkansas MAP »,233475,7737,3749,124,2656.9,88.0,38.1,1.3,NaN