### Task 1: (Connect to the supplied petsDB, and write a function to check if the connection is done)

In [2]:
# Import the sqlite3 library. This will help in query to db and do a SQL operations very easily.
import sqlite3

In [3]:
# Make a sqlite connection to petsdb. This is file which stores the person information
conn = sqlite3.connect("petsdb")

In [15]:
# This function makes a connection and send the connection status back
def is_opened(conn):
    try:
        conn.execute("SELECT * FROM persons LIMIT 1")
        return True
    except sqlite3.ProgrammingError as e:
        print("Connection closed {}".format(e))
        return False

In [16]:
# Print the connection status
print(is_opened(conn))

True

In [17]:
# Close the connection using conn.close()
conn.close()

In [18]:
print(is_opened(conn))

Connection closed Cannot operate on a closed database.
False

### Task 2: (Find  the different age groups in the persons database)

In [19]:
conn = sqlite3.connect("petsdb")

In [20]:
c = conn.cursor()

In [22]:
# Check the colomns names from person table
c.description

(('id', None, None, None, None, None, None),
 ('first_name', None, None, None, None, None, None),
 ('last_name', None, None, None, None, None, None),
 ('age', None, None, None, None, None, None),
 ('city', None, None, None, None, None, None),
 ('zip_code', None, None, None, None, None, None))

In [29]:
# Find all tables in database
rows =  c.execute("SELECT name FROM sqlite_master WHERE type='table';")
for row in rows:
    print(row)

('persons',)
('pets',)

In [32]:
# Check what type of data is there in table
rows =  c.execute("SELECT * FROM persons limit 4")
for row in rows:
    print(row)

(1, 'Erica', None, 22, 'south port', 2345678)
(2, 'Jordi', None, 73, 'east port', 123456)
(3, 'Chasity', None, 70, 'new port', 76856785)
(4, 'Gregg', None, 31, 'new port', 76856785)

In [33]:
rows.description

(('id', None, None, None, None, None, None),
 ('first_name', None, None, None, None, None, None),
 ('last_name', None, None, None, None, None, None),
 ('age', None, None, None, None, None, None),
 ('city', None, None, None, None, None, None),
 ('zip_code', None, None, None, None, None, None))

In [34]:
# Group the number of peoples in person table
for ppl, age in c.execute("SELECT count(*), age FROM persons GROUP BY age"):
    print("We have {} people aged {}".format(ppl, age))

We have 2 people aged 5
We have 1 people aged 6
We have 1 people aged 7
We have 3 people aged 8
We have 1 people aged 9
We have 2 people aged 11
We have 3 people aged 12
We have 1 people aged 13
We have 4 people aged 14
We have 2 people aged 16
We have 2 people aged 17
We have 3 people aged 18
We have 1 people aged 19
We have 3 people aged 22
We have 2 people aged 23
We have 3 people aged 24
We have 2 people aged 25
We have 1 people aged 27
We have 1 people aged 30
We have 3 people aged 31
We have 1 people aged 32
We have 1 people aged 33
We have 2 people aged 34
We have 3 people aged 35
We have 3 people aged 36
We have 1 people aged 37
We have 2 people aged 39
We have 1 people aged 40
We have 1 people aged 42
We have 2 people aged 44
We have 2 people aged 48
We have 1 people aged 49
We have 1 people aged 50
We have 2 people aged 51
We have 2 people aged 52
We have 2 people aged 53
We have 2 people aged 54
We have 1 people aged 58
We have 1 people aged 59
We have 1 people aged 60
We have 1 people aged 61
We have 2 people aged 62
We have 1 people aged 63
We have 2 people aged 65
We have 2 people aged 66
We have 1 people aged 67
We have 3 people aged 68
We have 1 people aged 69
We have 1 people aged 70
We have 4 people aged 71
We have 1 people aged 72
We have 5 people aged 73
We have 3 people aged 74

### Task 3: Find the age group has maximum number of people?

In [35]:
# Sort the count by descending which will give mas number of people in group
for ppl, age in c.execute("SELECT count(*), age FROM persons GROUP BY age ORDER BY count(*) DESC"):
    print("Highest number of people {} came from {} age group".format(ppl, age))
    break

Highest number of people 5 came from 73 age group

### Task 4: Find people who do not have a full name

In [36]:
res = c.execute("SELECT count(*) FROM persons WHERE last_name IS null")
for row in res:
    print(row)

(60,)

### Task 5: Find out many people has more than one pet?

In [38]:
# Check what type of data is there in table
rows =  c.execute("SELECT * FROM pets limit 4")
for row in rows:
    print(row)

(57, 'mani', 1.0, 0)
(80, 'tamari', None, 0)
(25, 'raba', None, 0)
(27, 'olga', None, 0)

In [39]:
rows.description

(('owner_id', None, None, None, None, None, None),
 ('pet_name', None, None, None, None, None, None),
 ('pet_type', None, None, None, None, None, None),
 ('treatment_done', None, None, None, None, None, None))

In [12]:
res = c.execute("SELECT count(*) FROM (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) >1)")
for row in res:
    print("{} People has more than one pets".format(row[0]))

43 People has more than one pets

### Task 6: Find how many pets have received treaments?

In [40]:
res = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1")
for row in res:
    print(row)

(36,)

### Task 7: Find how many pets have received treatment that we know the type of?

In [41]:
res = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1 AND pet_type IS NOT null")
for row in res:
    print(row)

(16,)

### Task 8: Find how many pets are there from the city called "east port"

In [42]:
res = c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port'")
for row in res:
    print(row)

(49,)

### Task 9: Find how many pets are there from the city called "east port" and who received a treatment?

In [43]:
res = c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port' AND pets.treatment_done=1")
for row in res:
    print(row)

(11,)

### All the above task is all about the SQL concept. How you write the queries and how you can get the result back. The sqlite3 library really gives a nice hold of DML and DDL operations.